<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.old.old_dao.IdietplanDao">
    <resultMap id="BaseResultMap" type="com.example.test.old.entity.dietplan">
    </resultMap>
    <insert id="add" parameterType="com.example.test.old.entity.dietplan">
        insert into dietplan(targetUsername, doctorUsername, start, end, totalEnergy, totalFood, mainFood, vegetables, fruit, meatAndEgg,
                                bean, milk, nut, oil, salt)
        values (#{targetUsername}, #{doctorUsername}, #{start}, #{end}, #{totalEnergy}, #{totalFood}, #{mainFood}, #{vegetables},
                #{fruit}, #{meatAndEgg}, #{bean}, #{milk}, #{nut}, #{oil}, #{salt})
    </insert>
    <select id="queryByPatient" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.dietplan">
        SELECT * from dietplan where targetUsername = #{targetUsername}
    </select>
    <select id="queryByDoctor" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.dietplan">
        SELECT * from dietplan where doctorUsername = #{doctorUsername}
    </select>
    <select id="queryByDoctorAndPatient" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.dietplan">
        SELECT * from dietplan where targetUsername = #{targetUsername} and doctorUsername = #{doctorUsername}
    </select>
</mapper>
