<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.old.old_dao.IFoodDao">
    <resultMap id="BaseResultMap" type="com.example.test.old.entity.Food">
    </resultMap>

    <select id="get" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Food">
        SELECT DISTINCT id, name, ingredients, accessories, introduction, label, cooking, favor, functions, target, disease, constitution, cuisine, snack, type, kitchenware, occasion
        from food where
                      name like "%"#{keyword}"%"
                      or ingredients like "%"#{keyword}"%"
                      or accessories like "%"#{keyword}"%"
                      or label like "%"#{keyword}"%"
          limit #{ignoreNum},#{numOfpage} </select>

    <select id="getById" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Food">
        SELECT DISTINCT id, name, ingredients, accessories, introduction, label, cooking, favor, functions, target, disease, constitution, cuisine, snack, type, kitchenware, occasion
        from food where id = #{id} </select>
</mapper>

