<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.old.old_dao.IIndexDao">
    <resultMap id="BaseResultMap" type="com.example.test.old.entity.Index">
    </resultMap>
    <insert id="add" parameterType="com.example.test.old.entity.Index">
        insert into `index`(id, icf, ecf, muscle, protein, ffweight, perfat, brate)
        values (#{id}, #{icf}, #{ecf}, #{muscle}, #{protein}, #{ffweight}, #{perfat}, #{brate})
    </insert>
    <select id="search" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Index">
        SELECT *
        from `index`
        where id = #{id}
    </select>
    <update id="update" parameterType="com.example.test.old.entity.Index">
        update `index`
        set icf      = #{icf},
            ecf      = #{ecf},
            muscle   = #{muscle},
            protein  = #{protein},
            ffweight = #{ffweight},
            perfat   = #{perfat},
            brate    = #{brate}
        where id = #{id}
    </update>
</mapper>