<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.old.old_dao.IinsulinDao">
    <resultMap id="BaseResultMap" type="com.example.test.old.entity.insulin">
    </resultMap>
    <insert id="insert"  parameterType="com.example.test.old.entity.insulin">
        insert into insulin(username, volume, datetime) values (#{username},#{volume},#{datetime})
    </insert>
    <select id="getRecent" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Bg">
        select * from (select * from insulin where username = #{username}) as a ORDER BY datetime desc LIMIT 1
    </select>
</mapper>