<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.old.old_dao.IWeightDao">
    <resultMap id="BaseResultMap" type="com.example.test.old.entity.Weight">
    </resultMap>
    <insert id="add"  parameterType="com.example.test.old.entity.Weight">
        insert into `weight`(username,weight,date)
        values(#{username},#{weight},#{date})
        on duplicate key update weight=#{weight};
    </insert>
    <select id="getWeightList" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Weight">
        select * from weight where username=#{username} and date &gt;= #{start} and date &lt;= #{end}
    </select>
    <select id="getRecentWeight" resultMap="BaseResultMap" parameterType="com.example.test.old.entity.Weight">
        SELECT
            *
        FROM
                ( SELECT * FROM weight WHERE username = #{username} ) AS a
        ORDER BY
            date DESC
        LIMIT 1
    </select>
</mapper>