<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.accountDao">
    <resultMap id="result" type="com.example.test.bean.account">
        <result property="UID" column="UID"/>
        <result property="password" column="password"/>
        <result property="phone" column="phone"/>
        <result property="mail" column="mail"/>
        <result property="type" column="type"/>
        <result property="registerTime" column="register_time"/>
        <result property="wechatId" column="wechat_id"/>
    </resultMap>
    <select id="query" resultMap="result">
        select UID,phone,mail,type,register_time,wechat_id,password
        from account
        where (UID=#{param1} or mail=#{param1} or phone=#{param1} or mail=#{param1})
          and type = #{param2}
    </select>
    <select id="queryByUIDWithoutPW" resultMap="result">
        select UID, phone, mail, type, register_time, wechat_id
        from account
        where UID = #{param1}
    </select>
    <insert id="insert" parameterType="com.example.test.bean.account">
        insert into account (UID, password, phone, mail, type, register_time, wechat_id)
        VALUES (#{UID}, #{password}, #{phone}, #{mail}, #{type}, #{registerTime}, #{wechatId})
    </insert>
    <update id="update" parameterType="com.example.test.bean.account">
        update account
        set password=#{password},
            phone=#{phone},
            mail=#{mail},
            type=#{type},
            register_time=#{registerTime},
            wechat_id=#{wechatId}
        where UID = #{UID}
    </update>
    <update id="updatePsw">
        update account set password=#{param2} where password=#{param1} and UID=#{param3}
    </update>
    <update id="updateType">
        update account set type = 1 where UID=#{param1}
    </update>
</mapper>