<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.bloodOxygenDao">
    <resultMap id="result" type="com.example.test.bean.bloodOxygen">
        <result property="UID" column="UID"/>
        <result property="value" column="value"/>
        <result property="time" column="time"/>
        <result property="source" column="source"/>
        <result property="detail" column="detail"/>
    </resultMap>
    <select id="query" resultMap="result">
        select UID,value,time,source,detail
        from blood_oxygen
        where UID=#{param1}
        and (time &gt;= #{param2} and time &lt; #{param3})
    </select>
    <insert id="insert" parameterType="com.example.test.bean.bloodOxygen">
        insert into blood_oxygen (UID,value,time,source,detail)
        VALUES(#{UID},#{value},#{time},#{source},#{detail})
    </insert>
</mapper>