<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.bloodSugarDao">
    <resultMap id="result" type="com.example.test.bean.bloodSugar">
        <result property="UID" column="UID"/>
        <result property="value" column="value"/>
        <result property="type" column="type"/>
        <result property="time" column="time"/>
        <result property="source" column="source"/>
        <result property="detail" column="detail"/>
    </resultMap>
    <select id="query" resultMap="result">
        select UID,value,type,time,source,detail
        from blood_sugar
        where UID=#{param1}
          and (time &gt;= #{param2} and time &lt; #{param3})
    </select>
    <select id="queryRecent" resultMap="result">
        select UID,value,type,time,source,detail
        from ( select * from blood_sugar where UID = #{param1}) as a
        order by time desc limit 1
    </select>

    <insert id="insert" parameterType="com.example.test.bean.bloodSugar">
        insert into blood_sugar(UID, value, type, time, source, detail)
        VALUES(#{UID},#{value},#{type},#{time},#{source},#{detail})
    </insert>
</mapper>