<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.IDiseaseDao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Disease">
    </resultMap>
    <select id="get" resultMap="BaseResultMap" parameterType="com.example.test.entity.Disease">
        SELECT DISTINCT *
        from diseases
        where name like "%"#{name}"%" limit 100
    </select>
</mapper>

