<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.doctorUserDao">
    <resultMap id="result" type="com.example.test.bean.doctorUser">
        <result property="id" column="id"/>
        <result property="dUID" column="dUID"/>
        <result property="uUID" column="uUID"/>
        <result property="time" column="time"/>
        <result property="state" column="state"/>
    </resultMap>
    <insert id="insert" parameterType="com.example.test.bean.doctorUser">
        insert into doctor_user (dUID,uUID,time,state)
        values(#{dUID},#{uUID},#{time},#{state})
    </insert>
    <select id="query" resultMap="result">
        select id,dUID,uUID,time,state
        from doctor_user
        where (uUID=#{param1} or dUID=#{param1}) and state = 1
    </select>
    <update id="update">
        update doctor_user set state = 0
        where uUID=#{param1}
    </update>
    <select id="find" resultMap="result">
        select id,dUID,uUID,time,state
        from doctor_user
        where (uUID=#{param2} and dUID=#{param1}) and state = 1
    </select>
    <select id="isBind" resultMap="result">
        select id,dUID,uUID,time,state
        from doctor_user
        where (uUID=#{param2} and dUID=#{param1}) and state = 1
    </select>
</mapper>