<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.IFood2Dao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Food2">
    </resultMap>
    <insert id="add"  parameterType="com.example.test.entity.Food2">
        insert into food2(user, id, cal, cdate, time_slot) values (#{user},#{id},#{cal},#{cdate},#{time_slot})
    </insert>
    <select id="day" resultMap="BaseResultMap" parameterType="com.example.test.entity.Food2">
        select id,cal,cdate,time_slot from food2 where user=#{user} and cdate like CONCAT('%',#{cdate},'%')
    </select>
</mapper>