<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.pregnancyInfoDao">
    <insert id="init" parameterType="com.example.test.bean.pregnancyInfo">
        insert into pregnancy_info (UID,pp_height,pp_weight,p_date,number_of_fetuses,partiy)
        values(#{UID},#{ppHeight},#{ppWeight},#{pDate},#{numberOfFetuses},#{partiy})
    </insert>
</mapper>