<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.ISleepDao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Sleep">
    </resultMap>
    <insert id="add"  parameterType="com.example.test.entity.Sleep">
        insert into sleep(id, len, cdate, user) values (#{id},#{len},#{cdate},#{user})
    </insert>
    <select id="day" resultMap="BaseResultMap" parameterType="com.example.test.entity.Sleep">
        select id,len,cdate,user from sleep where user=#{user} and cdate like CONCAT('%',#{cdate},'%')
    </select>
</mapper>