<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.test.dao.IWeightDao">
    <resultMap id="BaseResultMap" type="com.example.test.entity.Weight">
    </resultMap>
    <insert id="add"  parameterType="com.example.test.entity.Weight">
        insert into preg(id, weight, week) values (#{id},#{weight},#{week})
    </insert>
    <select id="view" resultMap="BaseResultMap" parameterType="com.example.test.entity.Weight">
        select id,weight,week from preg where id=#{id}
    </select>
</mapper>